@import '/src/styles/global.scss';

.project-card-mobile-horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: flex;
    justify-content: space-between;

    .wrapper-project-card-overlay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: absolute;
        z-index: 50;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.244) 30%,
                rgba(0, 0, 0, 0.63) 80%,
                rgba(0, 0, 0, 0.71) 100%);

        .container-project-overlay {
            padding: 1rem;

            .project-overlay-title {
                margin: 0;
                @include font-h5-bold();
                color: white;
            }

            .project-overlay-description {
                @include font-h6-light();
                color: white;
            }
        }
    }

    .project-card-content {
        padding: 1.5rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .project-card-description {
            display: none;
        }

        .project-card-title {
            margin: 0;
            @include font-h4-bold();
            color: var(--color-text);
            margin-bottom: 0.5rem;
        }
    }

    .container-card-mobile-horizontal-image {
        width: 38%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(26deg);
        margin-left: 5rem;
    }
}

.project-card-mobile-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;

    .wrapper-project-card-overlay {
        display: none;
    }

    .project-card-content {
        width: 100%;
        text-align: center;

        .project-card-title {
            margin: 0;
            margin-top: 10%;
            @include font-h4-bold();
            color: var(--color-text);
            margin-bottom: 0.5rem;
        }
    }

    .container-card-mobile-vertical-image {
        width: 100%;
        // height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        > div{
            width: 80%;
        }
    }
}