@import "/src/styles/global.scss";

.primary-button-container {
   @include font-h6-bold();
   background-color: var(--color-secondary);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border: 2px solid var(--color-text);
   border-radius: 20px;
   background-color: transparent;
   // padding: 10px 20px;

   img{
      width: 40px;
   }
}