@import '/src/styles/global.scss';

.song-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

    .song-card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-song-card-media-controller {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: white;

        .rhap_container {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #fff;
            box-shadow: none;
        }
    }

    .rhap_main-controls-button,
    .rhap_play-pause-button,
    .rhap_forward-button,
    .rhap_rewind-button,
    .rhap_repeat-button,
    .rhap_volume-button,
    .rhap_progress-indicator,
    .rhap_progress-filled {
        color: $primary-color;
        fill: $primary-color;
    }

    .rhap_play-pause-button {
        width: 50px;
        height: 50px;
        
        svg{
            width: 100%;
            height: 100%;
        }
    }

    .rhap_progress-bar-show-download {
        background: rgba($primary-color, 0.2);
    }

    .rhap_time {
        color: $primary-color;
    }

    .rhap_progress-bar {
        background: rgba($primary-color, 0.1);
    }
}