// @import '@styles/global.scss';
@import "/src/styles/global.scss";

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 106px;
    position: fixed;

    #header-wrapper {
        // Glass Background effect
        background: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        backdrop-filter: blur(6px);
        border: 2px solid rgba(255, 255, 255, 0.2);

        // Normal background
        // background-color: var(--color-secondary);
        // border: 1px solid $color-default-black;
        // border-radius: 999px;

        width: 80%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 38px;

        .text-name-portfolio {
            @include font-h5-regular($color-default-black);
        }
    }

    ul {
        display: flex;
        justify-content: end;
        gap: 20px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                @include font-h5-regular($color-default-black);

            }

            a::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-default-black;
            }
        }
    }
}