@import "/src/styles/global.scss";

#section-my-info {
   width: 100%;
   min-height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--color-secondary);
   gap: 60px;
   padding: 100px 0;

   .container-my-name {
      margin: 0 30px 0 60px;

      .text-my-name-my-info {
         @include font-h2-bold();

         span {
            color: $primary-color;
         }
      }
   }

   .container-more-about-me {
      margin: 0 60px 0 30px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      article {
         @include font-h6-regular();
      }

      .more-about-me-container{
         display: flex;
         gap: 5px;

         .text-more-about-me-title {
            @include font-h4-bold();
         }
         img{
            width: 50px;
            object-fit: contain;
         }
      }

   }
}