@import '/src/styles/global.scss';

.wrapper-glass-effect-card {
    background-color: yellow;

    /* background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.2); */
}